.tasks {
  width: 100%;
  max-width: 46rem;
  margin: 0 auto;
  padding: 0 1rem;
  margin-top: 5.625rem;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1.5rem;
}
.header div {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}
.header p {
  font-size: 0.875rem;
  color: var(--blue);
  font-weight: 700;
}
.header p.txtpurple {
  color: var(--purple);
}
.header span {
  background: var(--gray-400);
  color: var(--gray-200);
  padding: 3px 9px;
  border-radius: 999px;
  font-size: 0.75rem;
  font-weight: 700;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.empty {
  display: flex;
  margin-top: 4rem;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: var(--gray-300);
  text-align: center;
  gap: 1rem;
}
.empty svg {
  opacity: 0.3;
}
.empty p {
  font-weight: 700;
}
@media (max-width: 400px) {
  .tasks {
    margin-top: 4rem;
  }
  .header p {
    font-size: 0.475rem;
  }
  .header span {
    padding: 2px 4px;
    font-size: 0.65rem;
  }
  .empty {
    margin-top: 2rem;
  }
  .empty p, span{
    font-size: 0.675rem;
  }
  .empty svg {
    width: 3rem;
  }
  .list p {
    font-size: 0.675rem;
  }
}